# Terraform
terraform/.terraform/
terraform/*.tfstate
terraform/*.tfstate.backup
terraform/.terraform.lock.hcl
terraform/terraform.tfvars

# Secrets
*.pem
*.key
id_rsa*
k8s/apps/discord-bot/secret.yaml
