# Copy this to terraform.tfvars and fill in your values
# terraform.tfvars is gitignored — never commit it

proxmox_api_token_id     = "terraform@pam!terraform"
proxmox_api_token_secret = "your-token-secret-here"

ssh_public_key = "ssh-ed25519 AAAAC3NzaC1lZDI1NTE5AAAAIF7Q95691WXu2MwzknbezIzUMNuL7bd8cP9sGfe5u+Ec "

ci_password = "*vBsHTU13$YfBvU^f5x4YT3m"

k3s_vm = {
  vmid    = 200
  name    = "k3s"
  cores   = 4
  memory  = 8192
  disk    = "40G"
  storage = "local-lvm"   # check your Proxmox storage name
  ip      = "192.168.0.20/24"
  gateway = "192.168.0.1" # your router IP
}
